body
{
    font-family: 'Patrick Hand', cursive;
    border: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(32, 32, 32);
    transition: 0.5s;
    justify-content: center;
}

body.active
{
    font-family: 'Patrick Hand', cursive;
    border: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #e0e0e0;
    transition: 0.5s;
}

.nav-up
{
    width: 100%;
    height: 12%;
    display: flex;
    font-size: 13.5px;
    position: relative;
    align-items: flex-end;
}

.nav-up a
{
    text-decoration: none;
    color: #e0e0e0;
    transition: 0.5s;
}

body.active .nav-up a
{
    text-decoration: none;
    color: #696969;
    transition: 0.5s;
}

.nav-up a:hover
{
    color: orangered;
    transition: 0.5s;
}

body.active .nav-up a:hover
{
    color: orangered;
    transition: 0.5s;
}

.fikliks
{
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: right;
    line-height: 2;
    position: relative;
    margin-top: 1%;
    margin-left: 2%;
    flex-wrap: wrap-reverse;
}

.fikliks h2
{
    font-size: 31px;
    position: absolute;
    color: #e0e0e0;
    transition: 0.5s;
    margin-right: 5%;
}

body.active .fikliks h2
{
    font-size: 31px;
    position: absolute;
    color: #484848;
    transition: 0.5s;
}

.fikliks h3
{
    font-size: 13px;
    position: absolute;
    color: #eaeaea;
    transition: 0.5s;
    margin-right: 4.5%;
    margin-top: 6%;
}

body.active .fikliks h3
{
    font-size: 13px;
    position: absolute;
    color: #696969;
    transition: 0.5s;
}

.nav-bar
{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    font-size: 16px;
    position: relative;
    margin-bottom: 1%;
}

.nav-bar div
{
    margin-left: 1.8%;
    margin-bottom: 1%;
}

.glowne
{
    width: 1500px;
    height: 750px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pod
{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.twitch
{
    position: absolute;
    margin-bottom: 100%;
}

.steam
{
    position: absolute;
    margin-top: 100%;
}

.tt
{
    position: absolute;
    margin-left: 100%;
}

.insta
{
    position: absolute;
    margin-right: 100%;
}

.tekst
{
    font-family: 'Lobster', cursive;
    position: absolute;
    height: 16%;
    margin-bottom: 8%;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 220%;
    color: #e0e0e0;
}

.strzalka1
{
    position: absolute;
    margin-bottom: 350px;
    transform: rotate(180deg);
    width: 16%;
    transition: 0.5s;
}

.strzalka2
{
    position: absolute;
    width: 16%;
    margin-right: 350px;
    transform: rotate(90deg);
    transition: 0.5s;
}

.strzalka3
{
    position: absolute;
    width: 16%;
    margin-left: 350px;
    transform: rotate(-90deg);
    transition: 0.5s;
}

.strzalka4
{
    position: absolute;
    width: 16%;
    margin-top: 350px;
    transition: 0.5s;
}

#toggle
{
    position: relative;
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
    margin-left: 2%;
    margin-top: 4%;
}

#toggle.active
{
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}

#toggle .indicator
{
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,0.2),
                inset 0 -4px 4px rgba(255,255,255,0.2),;
    transition: 0.5s;
}

#toggle.active .indicator
{
    left: 25px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
    inset 0 4px 4px rgba(255,255,255,1),
    inset 0 -4px 4px rgba(255,255,255,1),;
}

.strzalka5
{
    visibility: hidden;
    position: absolute;
    margin-bottom: 350px;
    transform: rotate(180deg);
    width: 16%;
}
.strzalka6
{
    visibility: hidden;
    position: absolute;
    width: 16%;
    margin-right: 350px;
    transform: rotate(90deg);
}
.strzalka7
{
    visibility: hidden;
    position: absolute;
    width: 16%;
    margin-left: 350px;
    transform: rotate(-90deg);
}
.strzalka8
{
    visibility: hidden;
    position: absolute;
    width: 16%;
    margin-top: 350px;
}

body.active .glowne .pod .strzalka5
{
    transition: 0.5s;
    visibility: visible;
}

body.active .glowne .pod .strzalka6
{
    transition: 0.5s;
    visibility: visible;
}

body.active .glowne .pod .strzalka7
{
    transition: 0.5s;
    visibility: visible;
}

body.active .glowne .pod .strzalka8
{
    transition: 0.5s;
    visibility: visible;
}

body.active .glowne .pod .strzalka1
{
    transition: 0.5s;
    visibility: hidden;
}

body.active .glowne .pod .strzalka2
{
    transition: 0.5s;
    visibility: hidden;
}

body.active .glowne .pod .strzalka3
{
    transition: 0.5s;
    visibility: hidden;
}

body.active .glowne .pod .strzalka4
{
    transition: 0.5s;
    visibility: hidden;
}

body.active .glowne .pod .monitor1
{
    transition: 0.5s;
    position: absolute;
    visibility: visible;
}

.monitor
{
    transition: 0.5s;
    visibility: visible;
    position: absolute;
}

.monitor1
{
    transition: 0.5s;
    visibility: hidden;
}

body.active .tekst
{
    color: black;
}
