body
{
    font-family: 'Patrick Hand', cursive;
    border: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(32, 32, 32);
    transition: 0.5s;
    align-items: center;
    justify-content: center;
}

body.active
{
    font-family: 'Patrick Hand', cursive;
    border: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #e0e0e0;
    transition: 0.5s;
}

.nav-up
{
    width: 100%;
    height: 1%;
    display: flex;
    font-size: 13.5px;
    position: relative;
    align-items: flex-end;
}

.nav-up a
{
    text-decoration: none;
    color: #e0e0e0;
    transition: 0.5s;
}

body.active .nav-up a
{
    text-decoration: none;
    color: #696969;
    transition: 0.5s;
}

.nav-up a:hover
{
    color: orangered;
    transition: 0.5s;
}

body.active .nav-up a:hover
{
    color: orangered;
    transition: 0.5s;
}

.fikliks
{
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: right;
    line-height: 2;
    position: relative;
    margin-top: 1%;
    margin-left: 2%;
    flex-wrap: wrap-reverse;
}

.fikliks h2
{
    font-size: 31px;
    position: absolute;
    color: #e0e0e0;
    transition: 0.5s;
    margin-right: 5%;
}

body.active .fikliks h2
{
    font-size: 31px;
    position: absolute;
    color: #484848;
    transition: 0.5s;
}

.fikliks h3
{
    font-size: 13px;
    position: absolute;
    color: #eaeaea;
    transition: 0.5s;
    margin-right: 4.5%;
    margin-top: 6%;
}

body.active .fikliks h3
{
    font-size: 13px;
    position: absolute;
    color: #696969;
    transition: 0.5s;
}

.nav-bar
{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    font-size: 16px;
    position: relative;
    margin-bottom: 1%;
}

.nav-bar div
{
    margin-left: 1.8%;
    margin-bottom: 1%;
}

#toggle
{
    position: relative;
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
    margin-left: 2%;
    margin-top: 4%;
}

#toggle.active
{
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}

#toggle .indicator
{
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,0.2),
                inset 0 -4px 4px rgba(255,255,255,0.2),;
    transition: 0.5s;
}

#toggle.active .indicator
{
    left: 25px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
    inset 0 4px 4px rgba(255,255,255,1),
    inset 0 -4px 4px rgba(255,255,255,1),;
}

.formularz
{
    width: 600px;
    height: 650px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-top: 1%;
    padding: 0 !important;
    margin: 1% !important;
}



.imie
{
    text-align: center;
    position: absolute;
    width: 170px;
    height: 20px;
    margin-bottom: 370px;
    background-color: #eaeaea;
    border-radius: 15px;
    border: none;
    transition: 0.5s;
}

.imie::placeholder
{
    color: black;
}

.imie:focus::placeholder
{
    transition: 0.3s;
    color: transparent;
}

.mail
{
    text-align: center;
    position: absolute;
    width: 190px;
    height: 20px;
    margin-bottom: 300px;
    background-color: #eaeaea;
    border-radius: 15px;
    border: none;
    transition: 0.5s;
}

.mail::placeholder
{
    color: black;
}

.mail:focus::placeholder
{
    transition: 0.3s;
    color: transparent;
}

.wiadomosc
{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: start;
    width: 250px;
    height: 300px;
    margin-top: 55px;
    background-color: #eaeaea;
    border-radius: 15px;
    border: none;
    transition: 0.5s;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-rendering: auto;
    line-height: 1.5;
    display: block;
}

.wiadomosc::placeholder
{
    color: black;
}

.wiadomosc:focus::placeholder
{
    transition: 0.3s;
    color: transparent;
}

.wyslij
{
    position: absolute;
    text-align: center;
    width: 70px;
    height: 35px;
    margin-top: 405px;
    background-color: #eaeaea;
    border-radius: 35px;
    border: none;
    transition: 0.5s;
    color: black;
}

.h1-a
{
    text-align: center;
    width: 150px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    margin-bottom: 500px;
    color: #e0e0e0
}

body.active .h1-a
{
    color: #222;
}


body.active .imie
{
    background-color: dimgray;
    color: #e0e0e0;
}
body.active .mail
{
    background-color: dimgray;
    color: #e0e0e0;
}
body.active .wiadomosc
{
    background-color: dimgray;
    color: #e0e0e0;
}
body.active .wyslij
{
    background-color: dimgray;
    color: #eaeaea;
}

body.active .imie::placeholder
{
    color: #eaeaea;
}

body.active .mail::placeholder
{
    color: #eaeaea;
}

body.active .wiadomosc::placeholder
{
    color: #eaeaea;
}
body.active .imie:focus::placeholder
{
    transition: 0.3s;
    color: transparent;
}
body.active .mail:focus::placeholder
{
    transition: 0.3s;
    color: transparent;
}
body.active .wiadomosc:focus::placeholder
{
    transition: 0.3s;
    color: transparent;
}

h1
{
    color: #e0e0e0;
}

body.active h1
{
    color: #484848;
}

@media all and (min-width: 380px) {
    .nav-up {
    width: 100%;
    display: flex;
    font-size: 12px;
    position: absolute !important;
    align-items: flex-end;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    height: 150px !important;
    z-index: 10;
    }

    .fikliks {
        margin: 0;
        padding: 0;
    }

    .nav-bar
    {
        width: 80% !important;
        height: 100%;
        position: absolute !important;
        margin-left: 25%;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        font-size: 16px;
        margin-bottom: 0%;
    }

    .nav-bar div
    {
        width: 1%;
        height: 75px;
        margin-left: 18%;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .strona-glowna
    {
        margin-left: 11% !important;
    }

    .nav-up
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-top: 0%;
    }

    .fikliks
    {
        width: 27%;
        height: 100%;
        position: absolute;
        margin-bottom: 0%;
    }

    #toggle
    {
        transform: rotate(90deg); 
        position: relative;
        display: block;
        margin-left: 6% !important;
        margin-bottom: 10% !important;
    }

    .formularz
    {
        margin-top: 170% !important;
        position: absolute !important;
        width: 100%;
    }

    .h1-a
    {
        position: absolute !important;
        margin-top: 100%;
    }

    .imie
    {
        margin-bottom: 180% !important;
    }

    .mail
    {
        margin-bottom: 160% !important;
    }

    .wiadomosc
    {
        margin-bottom: 60% !important;
    }

    .wyslij
    {
        margin-bottom: 0% !important;
        margin-top: 82% !important;
    }
}

@media all and (max-width: 320px) {
    .nav-up {
    width: 100%;
    display: flex;
    font-size: 12px;
    position: absolute !important;
    align-items: flex-end;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    height: 150px !important;
    z-index: 10;
    }

    .fikliks {
        margin: 0;
        padding: 0;
    }

    .nav-bar
    {
        width: 80% !important;
        height: 100%;
        position: absolute !important;
        margin-left: 25%;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        font-size: 16px;
        margin-bottom: 0%;
    }

    .nav-bar div
    {
        width: 1%;
        height: 75px;
        margin-left: 18%;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .strona-glowna
    {
        margin-left: 11% !important;
    }

    .nav-up
    {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-top: 0%;
    }

    .fikliks
    {
        width: 27%;
        height: 100%;
        position: absolute;
        margin-bottom: 0%;
    }

    #toggle
    {
        transform: rotate(90deg); 
        position: relative;
        display: block;
        margin-left: 6% !important;
        margin-bottom: 10% !important;
    }

    .formularz
    {
        margin-top: 170% !important;
        position: absolute !important;
        width: 100%;
    }

    .h1-a
    {
        position: absolute !important;
        margin-top: 100%;
    }

    .imie
    {
        margin-bottom: 180% !important;
    }

    .mail
    {
        margin-bottom: 160% !important;
    }

    .wiadomosc
    {
        margin-bottom: 60% !important;
    }

    .wyslij
    {
        margin-bottom: 0% !important;
        margin-top: 82% !important;
    }
}
